<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home_addbetbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{160,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{160,72}</string>
            </dict>
            <key>home_addbettxt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,219},{81,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,31}}</string>
                <key>sourceSize</key>
                <string>{81,31}</string>
            </dict>
            <key>home_addbettxt10.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,319},{102,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,31}}</string>
                <key>sourceSize</key>
                <string>{102,31}</string>
            </dict>
            <key>home_addbettxt20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{106,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,31}}</string>
                <key>sourceSize</key>
                <string>{106,31}</string>
            </dict>
            <key>home_addbettxt5.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,319},{85,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,31}}</string>
                <key>sourceSize</key>
                <string>{85,31}</string>
            </dict>
            <key>home_btnmore.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,257},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>home_chipLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,257},{26,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{26,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>home_chipbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,219},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{106,106}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>home_chiptxtbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,219},{170,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{170,36}}</string>
                <key>sourceSize</key>
                <string>{172,36}</string>
            </dict>
            <key>home_menu9bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,257},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>home_menuBtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{126,24}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{126,24}}</string>
                <key>sourceSize</key>
                <string>{134,32}</string>
            </dict>
            <key>home_menuBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{130,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{130,24}}</string>
                <key>sourceSize</key>
                <string>{134,32}</string>
            </dict>
            <key>home_menuLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,327},{138,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,1}}</string>
                <key>sourceSize</key>
                <string>{138,1}</string>
            </dict>
            <key>home_pmd_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{471,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,50}}</string>
                <key>sourceSize</key>
                <string>{471,50}</string>
            </dict>
            <key>home_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{462,163}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{462,163}}</string>
                <key>sourceSize</key>
                <string>{462,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Home.png</string>
            <key>size</key>
            <string>{492,352}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a669bd69e49ae4133d4fac5ff3920b70$</string>
            <key>textureFileName</key>
            <string>Home.png</string>
        </dict>
    </dict>
</plist>
