<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>homeCoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,195},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>homeScoreBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{282,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{282,52}}</string>
                <key>sourceSize</key>
                <string>{284,52}</string>
            </dict>
            <key>home_addbetbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,54},{160,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{160,72}</string>
            </dict>
            <key>home_addbettxt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,195},{81,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,31}}</string>
                <key>sourceSize</key>
                <string>{81,31}</string>
            </dict>
            <key>home_addbettxt10.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,162},{102,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,31}}</string>
                <key>sourceSize</key>
                <string>{102,31}</string>
            </dict>
            <key>home_addbettxt20.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,108},{106,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,31}}</string>
                <key>sourceSize</key>
                <string>{106,31}</string>
            </dict>
            <key>home_addbettxt5.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,142},{85,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,31}}</string>
                <key>sourceSize</key>
                <string>{85,31}</string>
            </dict>
            <key>home_btnmore.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,172},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>home_btnvoice_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>home_btnvoice_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,170},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>home_chipLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,170},{26,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{26,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>home_chipbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,54},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{106,106}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>home_chiptxtbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{170,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{170,36}}</string>
                <key>sourceSize</key>
                <string>{172,36}</string>
            </dict>
            <key>home_menu9bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,108},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>home_menuBtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{126,24}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{126,24}}</string>
                <key>sourceSize</key>
                <string>{134,32}</string>
            </dict>
            <key>home_menuBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{130,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{130,24}}</string>
                <key>sourceSize</key>
                <string>{134,32}</string>
            </dict>
            <key>home_menuLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{138,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,1}}</string>
                <key>sourceSize</key>
                <string>{138,1}</string>
            </dict>
            <key>home_pmd_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{471,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,50}}</string>
                <key>sourceSize</key>
                <string>{471,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Home.png</string>
            <key>size</key>
            <string>{504,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c36d458c9abff7b932eacf6b932ddfd$</string>
            <key>textureFileName</key>
            <string>Home.png</string>
        </dict>
    </dict>
</plist>
