<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_btnclose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>common_loading_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,203},{381,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,12}}</string>
                <key>sourceSize</key>
                <string>{381,12}</string>
            </dict>
            <key>common_loading_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,167},{405,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{405,34}}</string>
                <key>sourceSize</key>
                <string>{409,36}</string>
            </dict>
            <key>common_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{462,163}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{462,163}}</string>
                <key>sourceSize</key>
                <string>{462,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common.png</string>
            <key>size</key>
            <string>{471,229}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ed86b44ac2ca0fe8e59e81db5c5e7f1$</string>
            <key>textureFileName</key>
            <string>Common.png</string>
        </dict>
    </dict>
</plist>
