<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home_addbetbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{160,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{160,72}</string>
            </dict>
            <key>home_addbettxt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,395},{81,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,31}}</string>
                <key>sourceSize</key>
                <string>{81,31}</string>
            </dict>
            <key>home_addbettxt10.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,436},{102,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,31}}</string>
                <key>sourceSize</key>
                <string>{102,31}</string>
            </dict>
            <key>home_addbettxt20.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,403},{106,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,31}}</string>
                <key>sourceSize</key>
                <string>{106,31}</string>
            </dict>
            <key>home_addbettxt5.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,436},{85,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,31}}</string>
                <key>sourceSize</key>
                <string>{85,31}</string>
            </dict>
            <key>home_btnclose.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,403},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>home_btnmore.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,219},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>home_chipbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,281},{112,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{112,106}}</string>
                <key>sourceSize</key>
                <string>{114,108}</string>
            </dict>
            <key>home_loading_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{381,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,12}}</string>
                <key>sourceSize</key>
                <string>{381,12}</string>
            </dict>
            <key>home_loading_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{405,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{405,34}}</string>
                <key>sourceSize</key>
                <string>{409,36}</string>
            </dict>
            <key>home_menu9bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,281},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>home_pmd_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{471,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,50}}</string>
                <key>sourceSize</key>
                <string>{471,50}</string>
            </dict>
            <key>home_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{462,163}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{462,163}}</string>
                <key>sourceSize</key>
                <string>{462,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Home.png</string>
            <key>size</key>
            <string>{475,475}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:923fbf53e69a6291b914aadd6efd82c5$</string>
            <key>textureFileName</key>
            <string>Home.png</string>
        </dict>
    </dict>
</plist>
