<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Agree/agree_9bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,38},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Agree/agree_bntclose.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,36},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{28,28}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>Agree/agree_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,42},{120,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,92}}</string>
                <key>sourceSize</key>
                <string>{120,92}</string>
            </dict>
            <key>Agree/agree_btn2_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,6},{91,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,30}}</string>
                <key>sourceSize</key>
                <string>{91,30}</string>
            </dict>
            <key>Agree/agree_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{375,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,2}}</string>
                <key>sourceSize</key>
                <string>{375,2}</string>
            </dict>
            <key>Agree/argee_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,6},{288,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,34}}</string>
                <key>sourceSize</key>
                <string>{288,34}</string>
            </dict>
            <key>Notice_cancle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{220,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,72}}</string>
                <key>sourceSize</key>
                <string>{220,72}</string>
            </dict>
            <key>Notice_checkin.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,130},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{32,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>Notice_checkin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Notice_checkout.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,130},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{32,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>Notice_checkout1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,130},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Notice_confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{220,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,72}}</string>
                <key>sourceSize</key>
                <string>{220,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Notice.png</string>
            <key>size</key>
            <string>{440,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f743fcc1594edf9ee8aa7e23ed441c61$</string>
            <key>textureFileName</key>
            <string>Notice.png</string>
        </dict>
    </dict>
</plist>
